# Current best data splits

In [ ]:
#batch1
# ../may30_data/norm_z_june20_36k_cgo_3_3_1_2.csv

#batch2
# ../batch2/norm_z_june21_32k_cgo_3_3_1_1.csv

# Data Split V2

In [ ]:
import pandas as pd
df1 = pd.read_csv('../../may30_data/norm_z_june20_36k_cgo_3_3_1_2.csv')

In [ ]:

df2 = pd.read_csv('../../batch2/norm_z_june21_32k_cgo_3_3_1_1.csv')

In [ ]:
final = pd.concat([df1,df2])

In [ ]:
final.to_csv('final_v2_68k.csv', index = None)

In [ ]:
!pwd

# Get data for batch1

In [ ]:
import pandas as pd
df = pd.read_csv('../../current_2_3M_data_jpt.csv')
df

In [ ]:
from scipy import stats
import numpy as np
def zscore(ls):
    ls = list(ls)
    return stats.zscore(np.array(ls))

In [ ]:
import numpy as np
def num_scoring(df):
    re,ae,be,ee = df['RE'],df['AE'],df['BE'],df['EE']
    re = np.array(re)
    ae = np.array(ae)
    be = np.array(be)
    ee = np.array(ee)
    
#     w1,w2,w3,w4 = 3/8,1.5/8,2.5/8,1/8
    w1,w2,w3,w4 = 3/9,3/9,1/8,2/9
    #w1,w2,w3,w4 should add up to 1
    score = w1*re + w2*ae + w3*be + w4*ee
    return score


df['num_score'] = num_scoring(df)
df = df.dropna(subset=['num_score'])

df['zEE'] = zscore(df['EE'])
df['zRE'] = zscore(df['RE'])
df['zAE'] = zscore(df['AE'])
df['zBE'] = zscore(df['BE'])


df['norm_z'] = zscore(df['num_score'])
df

In [ ]:
batch1 = df.copy()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
plt.rcParams.update({'figure.figsize':(7,5), 'figure.dpi':100})

# Plot Histogram on x
x = np.array(batch1['norm_z'])
plt.hist(x, bins=50)
plt.gca().set(title='Frequency Histogram', ylabel='Frequency');

In [ ]:
batch1.to_csv('../../may30_data/norm_z_june20_36k_cgo_3_3_1_2.csv',index=None)

In [ ]:
import pandas as pd
batch1 = pd.read_csv('../../may30_data/norm_z_june20_36k_cgo_3_3_1_2.csv')

# Get data for batch2

In [ ]:
import pandas as pd
batch2 = pd.read_csv('../../batch2/raw_engage_child.csv')
batch2

In [ ]:
df = pd.concat([batch1,batch2])
df

In [ ]:
df.to_csv('total_raw_560k.csv',index=None)

In [ ]:
total = pd.read_csv('total_raw_560k.csv')

In [ ]:
total[total['norm_z']<-1.3].shape

# curate the total nogetive samples here

In [ ]:
norep2 = pd.read_csv('../../batch2/raw_nonengage_confidence_30k.csv')
norep2

In [ ]:

norep1 = pd.read_csv('../../may30_data/clean_norep_20k_tmp.csv')
norep1

In [ ]:
norep = pd.concat([norep1,norep2])
norep.shape
# norep.to_csv('total_norep_47k.csv',index=None)

In [ ]:
ns = pd.read_csv('negative_sampling20k.csv')
ns = ns.sample(frac=1)
ns = ns.sample(frac=1)
ns = ns.sample(frac=1)
ns = ns.sample(frac=1)
ns = ns.sample(frac=1)
ns = ns.sample(frac=1)

# curate the entire data splits

In [ ]:
df.shape

In [ ]:
norep.shape

In [ ]:
import numpy as np
def convert_raw_to_std(df,label=0):
    text_a = list(df['Grandparent_body'])
    text_b = list(df['Parent_body'])
    RE = list(df['RE'])
    AR = list(df['AE'])
    BE = list(df['BE'])
    EE = list(df['EE'])
    num_score = list(df['num_score'])
    labels = [label]*df.shape[0]
    
    columns = ['text_a','text_b','RE','AR','BE','EE','num_score','labels']
    ndf = pd.DataFrame(np.array([text_a,text_b,RE,AR,BE,EE,num_score,labels]).transpose(), columns =columns)
    return ndf

def concat_and_save(pos,name, neg):
    combo = pd.concat([pos,neg])
    labels = list(combo['labels'])
    labels = [int(x) for x in labels]
    combo['labels'] = labels
    combo = combo.sample(frac=1)
    combo = combo.sample(frac=1)
    combo = combo.sample(frac=1)
    combo = combo.sample(frac=1)
    combo.to_csv('data_split'+name +'.csv',index=None)
    return combo

In [ ]:
norep.shape

In [ ]:
neg = df[df['norm_z']<-1.5]
neg = convert_raw_to_std(neg)
neg.shape

In [ ]:
non = pd.concat([norep,neg, ns])

In [ ]:
non.shape

# 30k pos, 30k neg

In [ ]:
df[df['norm_z']>1.68].shape

In [ ]:
pos

In [ ]:
pos = df[df['norm_z']>1.68]
pos = convert_raw_to_std(pos, label=1)
neg = non.sample(n=pos.shape[0])
combo = concat_and_save(pos,'60k_ns', neg)
combo

# 40k pos, 40k neg

In [ ]:
df[df['norm_z']>1.53].shape

In [ ]:
pos = df[df['norm_z']>1.53]
pos = convert_raw_to_std(pos, label=1)
neg = non.sample(n=pos.shape[0])
combo = concat_and_save(pos,'80k_ns', neg)
combo

# 50k pos, 50k neg

In [ ]:
df[df['norm_z']>1.4].shape

In [ ]:
pos = df[df['norm_z']>1.4]
pos = convert_raw_to_std(pos, label=1)
neg = non.sample(n=pos.shape[0])
combo = concat_and_save(pos,'100k_ns', neg)
combo

# 60k pos, 60k neg

In [ ]:
df[df['norm_z']>1.29].shape

In [ ]:
pos = df[df['norm_z']>1.29]
pos = convert_raw_to_std(pos, label=1)
neg = non.sample(n=pos.shape[0])
combo = concat_and_save(pos,'120k_ns', neg)
combo

# 70k pos, 70k neg

In [ ]:
df[df['norm_z']>1.2].shape

In [ ]:
pos = df[df['norm_z']>1.2]
pos = convert_raw_to_std(pos, label=1)
neg = non.sample(n=pos.shape[0])
combo = concat_and_save(pos,'140k_ns', neg)
combo

# 90k pos, 90k neg

In [ ]:
df[df['norm_z']>1].shape

In [ ]:
pos = df[df['norm_z']>1]
pos = convert_raw_to_std(pos, label=1)
neg = non.sample(n=pos.shape[0])
combo = concat_and_save(pos,'180k_ns', neg)
combo

In [ ]:
labels = list(combo['labels'])
sum(labels)

# Mix with Synthetic Negative Sampling Examples

In [ ]:
import pandas as pd
ns = pd.read_csv('negative_sampling20k.csv')
ns.iloc[3000:3030]

In [ ]:
ns.iloc[9019]['text_b']

In [ ]:
ns.iloc[15000:15030]

# Curate Ablation test data for 4 dimensions

In [ ]:
import pandas as pd
df = pd.read_csv('total_raw_560k.csv')
df

In [ ]:
neg = pd.read_csv('data_split80k.csv')
neg = neg[neg['labels']==0]
neg

In [ ]:
# re
RE = df[df['zRE']>1.7]
RE= RE.sample(n=40000)
RE.shape

In [ ]:
# ee
EE = df[df['zEE']>1.8]
EE= EE.sample(n=40000)
EE.shape

In [ ]:
# be
BE = df[df['zBE']>1.4]
BE= BE.sample(n=40000)
BE.shape

In [ ]:
# ae
AE = df[df['zAE']>1.45]
AE= AE.sample(n=40000)
AE.shape

In [ ]:
import numpy as np
def convert_raw_to_std(df,label=0):
    text_a = list(df['Grandparent_body'])
    text_b = list(df['Parent_body'])
    RE = list(df['RE'])
    AR = list(df['AE'])
    BE = list(df['BE'])
    EE = list(df['EE'])
    num_score = list(df['num_score'])
    labels = [label]*df.shape[0]
    
    columns = ['text_a','text_b','RE','AR','BE','EE','num_score','labels']
    ndf = pd.DataFrame(np.array([text_a,text_b,RE,AR,BE,EE,num_score,labels]).transpose(), columns =columns)
    return ndf

def concat_and_save(pos,name, neg=neg):
    pos = convert_raw_to_std(pos,label=1)
    combo = pd.concat([pos,neg])
    labels = list(combo['labels'])
    labels = [int(x) for x in labels]
    combo['labels'] = labels
    combo = combo.sample(frac=1)
    combo = combo.sample(frac=1)
    combo = combo.sample(frac=1)
    combo = combo.sample(frac=1)
    combo.to_csv('june23_'+name +'.csv',index=None)
    return combo

In [ ]:

combo = concat_and_save(RE,'RE80k')
combo

In [ ]:
combo = concat_and_save(BE,'BE80k')
combo

In [ ]:
combo = concat_and_save(AE,'AE80k')
combo

In [ ]:
combo = concat_and_save(EE,'EE80k')
combo

In [9]:
import pandas as pd
df = pd.read_csv('data_split80k.csv')
df

,text_a,text_b,RE,AR,BE,EE,num_score,labels,Unnamed: 0,toxicity,sentiment,engagingness_score
0,Somehow 'Fuck the police proportionately to th...,"Equal? With murderers, criminals, looters and ...",0.681818,0.760563,0.000000,0.852599,0.670260,1,NaN,NaN,NaN,NaN
1,Yah. Go ignore every school of economics excep...,Considering Austrian Economics evolved out of ...,0.553191,0.910000,0.560369,0.424952,0.652210,1,NaN,NaN,NaN,NaN
2,Sort of:\n\n[1](http://www.funis2cool.com/wp-c...,"good, good, now we just need to see the goat o...",NaN,NaN,NaN,NaN,NaN,0,645.0,0.001007,0.0,0.0
3,"Since you asked, it's now a challenge.",Good because I wouldn't know the answer.,0.622407,0.782051,0.867086,0.473416,0.681742,1,NaN,NaN,NaN,NaN
4,"well, I'd say he's pretty good with the plot a...",So he's like George Lucas?,0.409639,0.775000,0.597614,0.906555,0.671038,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
80319,"after Snoop Dog and Big Lebowski, i think we h...","Sorry, but Althusser confessed late in his lif...",0.601266,0.815217,0.585106,0.508709,0.658346,1,NaN,NaN,NaN,NaN
80320,Louis Riel is the dead man that I hate the mos...,Welcome to french immersion in Ontario. Our hi...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
80321,There would still be huge bald spots with no d...,Considering that the number of specimens for t...,NaN,NaN,NaN,NaN,NaN,0,7576.0,0.001013,0.0,0.0
80322,What does this have to do with atheism?,Being atheist is the definition of being ratio...,0.932039,0.795455,0.000000,0.372502,0.658609,1,NaN,NaN,NaN,NaN
80323,"The technology is just not there, and it is to...",So you can't upgrade to CFLs? Use the corporat...,0.601266,0.853448,0.585106,0.948921,0.768914,1,NaN,NaN,NaN,NaN

In [10]:
pos =df[df['num_score']>0.8]
pos

,text_a,text_b,RE,AR,BE,EE,num_score,labels,Unnamed: 0,toxicity,sentiment,engagingness_score
20,Who's smarter? Him or Mr. Fantastic?,"well..it's been what, 75 years? and Luthor has...",0.911392,0.858268,0.953345,0.574408,0.836701,1,NaN,NaN,NaN,NaN
40,Yeah I mean .... pretty much all schools _alre...,I always thought that was strange when I was d...,0.704225,0.800000,0.949367,0.872782,0.814031,1,NaN,NaN,NaN,NaN
52,How long till they get Prop 8'd?\r\n\r\nIt is ...,The purpose of a constitutional republic is to...,0.814159,0.660377,0.936136,0.976531,0.825536,1,NaN,NaN,NaN,NaN
72,Luxury? Ha. I don't live in the US. I'm not al...,I live in the middle of a large city and don't...,0.972763,0.730159,0.852273,0.579074,0.802858,1,NaN,NaN,NaN,NaN
119,Where you from dude?,I'm living in Kuwait right now. It's nowhere n...,0.810811,0.746269,0.852273,0.835024,0.811122,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
80198,Kids who were born *after* N64 are 13 now...,"I had to entertain a 10 year old, and we were ...",0.663265,0.894118,0.983686,0.776332,0.814607,1,NaN,NaN,NaN,NaN
80218,Awesome. Dawkins is my hero.\n\nIt's shocking ...,"He makes a great point, and I agree with you, ...",0.892587,0.819149,0.979769,0.908725,0.894988,1,NaN,NaN,NaN,NaN
80239,"consider a situation where I might not say ""th...",My teenage son offers the following;\n\nIs the...,0.847458,0.763889,0.585106,0.885274,0.806981,1,NaN,NaN,NaN,NaN
80267,So how do you show that men are equally fit pa...,You show that a man is a fit parent by contras...,0.946970,0.881119,0.913621,0.772109,0.895145,1,NaN,NaN,NaN,NaN
80291,soy sauce in mexican food huh? riiiight!,"Uh, yeah... there was quite a bit of Japanese ...",0.774194,0.863636,0.673344,0.775682,0.802485,1,NaN,NaN,NaN,NaN

In [11]:
neg = df[df['labels']==0]

In [13]:
sp = pd.concat([pos.sample(n=100), neg.sample(n=100)])
sp

,text_a,text_b,RE,AR,BE,EE,num_score,labels,Unnamed: 0,toxicity,sentiment,engagingness_score
35039,The problem really is developing nations with ...,No i'd say the problem is exactly the opposite...,0.802817,0.937931,0.958235,0.600995,0.833583,1,NaN,NaN,NaN,NaN
77406,Which is also a scientific theory. Did anyone...,"I did click the link, and did my best to read ...",0.883333,0.864000,0.919255,0.781556,0.871030,1,NaN,NaN,NaN,NaN
61149,I for one welcome our leg humping overlords.,Can someone please tell me the origin of that ...,0.817391,0.833333,0.900000,0.644493,0.805962,1,NaN,NaN,NaN,NaN
66123,Well I don't use Windows that much so I didn't...,I can't get my Intel wireless chipset to work ...,0.681818,0.905556,0.657895,0.882682,0.807513,1,NaN,NaN,NaN,NaN
59340,"Yeah she is, but I'm not entirely sure she mea...",What she meant to say is irrelevant. The impo...,0.999303,0.632653,0.909678,0.706236,0.814636,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
27864,Oh god what have I done? *deletes porn*\r\n\r\...,You need something like Googles Mail Goggles t...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
64745,It also shows me that morality doesn't need to...,What is morality then? Morals are mere opinions.,0.267442,0.320000,0.000000,0.149373,0.229008,0,NaN,NaN,NaN,NaN
2675,In her sister?,In her uncle?,NaN,NaN,NaN,NaN,NaN,0,11271.0,0.001536,0.0,0.0
7503,At least the poster had the sense to scribble ...,poster sez: more like which social networking ...,0.337838,0.413793,0.000000,0.171802,0.288722,0,NaN,NaN,NaN,NaN
28869,I would think so. In that way you could have a...,[Yes](http://img2.timeinc.net/people/i/2008/ga...,0.343750,0.181818,0.709279,0.131470,0.293065,0,NaN,NaN,NaN,NaN

In [14]:
sp.drop(['Unnamed: 0', 'toxicity', 
                'sentiment', 'sentiment', 'RE','AR','BE','EE','num_score'], axis=1, inplace=True)

In [15]:
del sp['engagingness_score']
sp

,text_a,text_b,labels
35039,The problem really is developing nations with ...,No i'd say the problem is exactly the opposite...,1
77406,Which is also a scientific theory. Did anyone...,"I did click the link, and did my best to read ...",1
61149,I for one welcome our leg humping overlords.,Can someone please tell me the origin of that ...,1
66123,Well I don't use Windows that much so I didn't...,I can't get my Intel wireless chipset to work ...,1
59340,"Yeah she is, but I'm not entirely sure she mea...",What she meant to say is irrelevant. The impo...,1
...,...,...,...
27864,Oh god what have I done? *deletes porn*\r\n\r\...,You need something like Googles Mail Goggles t...,0
64745,It also shows me that morality doesn't need to...,What is morality then? Morals are mere opinions.,0
2675,In her sister?,In her uncle?,0
7503,At least the poster had the sense to scribble ...,poster sez: more like which social networking ...,0
28869,I would think so. In that way you could have a...,[Yes](http://img2.timeinc.net/people/i/2008/ga...,0

In [16]:
sp.to_csv('../submission/sample_train.csv',index=None)